.modal-body {
  .modal-title {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  .modal-content {
    padding: 10px;
    form {
      .email {
        display: flex;
        // align-items: center;
        gap: 20px;
      }
      .name {
        gap: 25px;
        display: flex;
        align-items: center;
        .civility {
          gap: 15px;
          display: flex;
          mat-radio-group {
            display: flex;
            gap: 10px;
          }
        }
      }
      .phone, .entity {
        display: flex;
        gap: 20px;
      }
    }
  }
}
